<div
    id="supsystic-table-diagram-{{ id }}"
    class="supsystic-table-diagram"
    style="width: {{ chartWidth }}; height: {{ chartHeight }};"
    data-chartData="{{ chartData }}"
    data-chartType="{{ chartType }}"
>
    <!-- Diagram goes here -->
</div>